/.idea/
/colourpaletteextractor/build/__main__/
/colourpaletteextractor/dist/__main__/
/colourpaletteextractor/dist/__main__
/colourpaletteextractor/__main__.spec
/colourpaletteextractor/ColourPaletteExtractor.spec
/venv/
/ColourPaletteExtractor-Executables/
/ColourPaletteExtractor.spec
