#!/bin/bash

####################
## macOS Settings ##
####################

# Path to the Python virtual environment (provide absolute path to the 'activate' file)
python_virtual_environment_path=/Users/tim/PythonVirtualEnvironments/ColourPaletteExtraction/bin/activate

# Path to PyInstaller executables output directory
executable_output_directory=/Users/tim/Documents/ColourPaletteExtractor-Executables
